[submodule "components/fake_cwd"]
	path = components/fake_cwd
	url = https://github.com/aso-c/fake_cwd
[submodule "components/utils"]
	path = components/utils
	url = https://github.com/aso-c/esp32-utils
[submodule "components/extrstream/stream"]
	path = components/extrstream/src
	url = https://github.com/aso-c/extrstream
[submodule "components/sd-ctrl"]
	path = components/sd-ctrl
	url = https://github.com/aso-c/esp32-sd-ctrl
[submodule "components/argtable"]
	path = components/argtable
	url = https://github.com/aso-c/argtable-cpp
