menu "Improved ESP32 Console"

    config CONSOLE_STORE_HISTORY
        bool "Store command history in flash"
        default n
        help
            Linenoise line editing library provides functions to save and load
            command history. If this option is enabled, initializes a FAT filesystem
            and uses it to store command history.

    config CONSOLE_IGNORE_EMPTY_LINES
        bool "Ignore empty lines inserted into the console"
        default y
        help
            If an empty line is inserted to the console, the Console can either
            ignore empty lines (the example would continue), or break on empty lines
            (the example would stop after an empty line).


    menu "Version management"

        config APP_PROJECT_VER
        string "Project version"
#        depends on APP_PROJECT_VER_FROM_CONFIG
        help
            Project version

        config APP_PROJECT_FLAVOUR
        string "Flavour of the current project branch"
#        depends on APP_PROJECT_VER_FROM_CONFIG
        help
            Variant of the project application

        config APP_PROJECT_DATE
        string "Current project version date"
#        depends on APP_PROJECT_VER_FROM_CONFIG
        help
            Date of the project current version

        config APP_PROJECT_AUTHOR
        string "Author (modificator) of the current project version"
#        depends on APP_PROJECT_VER_FROM_CONFIG
        help
            The person, who made changes of the current version
            in the source code of the project

        config APP_PROJECT_AUTHOR_NICK
        string "Nickname of the author"
        help
            Nickname (short name aka alias) of the Author, who made modify source code
            of the current version this project

    endmenu # Version management

endmenu	# Improved ESP32 Console

