menu "BT SPP Server Configuration"
    depends on BT_CLASSIC_ENABLED
    config EXAMPLE_SSP_ENABLED
        bool "Secure Simple Pairing"
        depends on BT_CLASSIC_ENABLED
        default y
        help
            This enables the Secure Simple Pairing. If disable this option,
            Bluedroid will only support Legacy Pairing

    config BT_LOCAL_DEVICE_NAME
        string "Bluetooth Local Device Name"
        default "ESP_Console_SPP_ACCEPTOR"
        help
            Use this option to set local device name.
endmenu
